header {
	display: grid;

	grid-template-columns: clamp(3rem, 20vw, 6rem) 1fr;
	grid-template-rows: auto min-content;
	grid-template-areas:
		'logo title'
		'logo metadata';

	gap: 1rem;

	margin-block-end: 2rem;
	align-items: start;
	text-align: center;
}

header #logo { grid-area: logo; }
header #title { grid-area: title; }
header #metadata { grid-area: metadata; }

header #logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

main {
	width: clamp(10rem, 80vw, 50rem);
	margin-inline: auto;
}
