---
import './styles.css';

interface Props {
	title?: string;
	target?: string;
}

const { title, target } = Astro.props;
---
<a id="skip-to-main" href={`#${target ?? 'contents'}`}>{title ?? 'Skip to main content'}</a>
