.inline-author-info [rel="author"] {
	display: inline-flex;
	align-items: baseline;
	gap: 0.5rem;
}

.inline-author-info picture {
	--image-size: 1.5rem;

	align-self: center;
	transform: translateY(-8%);

	width: var(--image-size);
	height: var(--image-size);
	border-radius: 50%;
	overflow: hidden;
	border: var(--theme-color) solid var(--border-width);
	position: relative;
}

.inline-author-info img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: grayscale(0.8) sepia(0.8) brightness(0.85);
}

.inline-author-info picture::after {
	content: "";
	position: absolute;
	inset: 0;
	background: currentcolor;
	opacity: 0.5;
	mix-blend-mode: multiply;
}
