---
import './styles.css';

interface Props {
	title?: string,
	tags: Record<string, string>,
	isOpen?: boolean
}

const { title, tags, isOpen } = Astro.props;
---
<details class="tag-list" open={isOpen}>
	<summary>{title ?? 'Tags'}</summary>
	<ul>
		{Object.entries(tags).map(([tag, url]) => (
			<li class="p-category tag"><a href={url}>{tag}</a></li>
		))}
	</ul>
</details>
