.tag-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: var(--spacing-medium);
	list-style-type: "";
	padding: 0;
}

.tag-list .tag {
	--tag-width: var(--spacing-medium);
	--tag-height: var(--spacing-medium);

	display: inline-block;
	list-style-type: "";
	position: relative;
	padding: var(--spacing-small) var(--spacing-medium);
	padding-inline-start: calc(var(--tag-width) + var(--spacing-medium));
	margin: var(--spacing-small);
	font-size: var(--small-text);
	color: var(--bg-color);
	overflow: visible;
}

.tag-list .tag * {
	position: relative;
	color: inherit;
	outline: none;
	background-color: transparent;
}

.tag-list .tag::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--secondary-color);
	clip-path: polygon(
		var(--tag-width) 0,
		100% 0,
		100% 100%,
		var(--tag-width) 100%,
		0 calc(50% + (var(--tag-height) * 0.5)),
		0 calc(50% - (var(--tag-height) * 0.5))
	);
	mask: radial-gradient(
		circle at calc(var(--tag-width) * 0.7) center,
		transparent 0,
		transparent calc((var(--tag-height) * 0.3)),
		black calc((var(--tag-height) * 0.3))
	);
}

.tag-list .tag:hover::before { background-color: var(--text-color); }

.tag-list .tag:focus-within {
	outline: var(--theme-color) solid var(--border-width);
	outline-offset: var(--spacing-small);
	color: var(--dark-bg-color);
}

.tag-list .tag:hover {
	color: var(--link-hover-color);
	outline-color: var(--link-hover-color);
}
