# build output
dist/
dev-dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables file
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store

# VS Code
.vscode/

# Server certificates
certs
*.pem
*.crt
*.key

# Typescript build info
*.tsbuildinfo
