{
	"ignoreFiles": ["./dist/**/*"],
	"rules": {
		"alpha-value-notation": "number",
		"at-rule-allowed-list": null,
		"at-rule-disallowed-list": null,
		"at-rule-empty-line-before": ["always", { "except": ["blockless-after-same-name-blockless"] }],
		"at-rule-no-unknown": true,
		"at-rule-no-vendor-prefix": true,
		"at-rule-property-required-list": { "font-face": ["src","font-display", "font-family", "font-style"] },
		"block-no-empty": true,
		"color-function-notation": "legacy",
		"color-hex-length": "long",
		"color-named": "always-where-possible",
		"color-no-hex": null,
		"color-no-invalid-hex": true,
		"comment-no-empty": true,
		"comment-whitespace-inside": "always",
		"comment-word-disallowed-list": ["/^TODO:/", "/^FIXME:/"],
		"custom-media-pattern": "[a-z][-a-z0-9]+",
		"custom-property-pattern": "[a-z][-a-z0-9]+",
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-redundant-longhand-properties": [true, { "ignoreShorthands": ["grid-template"]}],
		"declaration-block-no-shorthand-property-overrides": true,
		"declaration-block-single-line-max-declarations": 1,
		"declaration-no-important": true,
		"declaration-property-unit-allowed-list": null,
		"declaration-property-unit-disallowed-list": null,
		"declaration-property-value-allowed-list": null,
		"declaration-property-value-disallowed-list": null,
		"font-family-name-quotes": "always-where-recommended",
		"font-family-no-duplicate-names": true,
		"font-family-no-missing-generic-family-keyword": true,
		"font-weight-notation": "named-where-possible",
		"function-allowed-list": null,
		"function-calc-no-unspaced-operator": true,
		"function-disallowed-list": null,
		"function-linear-gradient-no-nonstandard-direction": true,
		"function-name-case": "lower",
		"function-url-no-scheme-relative": true,
		"function-url-quotes": "always",
		"function-url-scheme-allowed-list": null,
		"function-url-scheme-disallowed-list": null,
		"hue-degree-notation": "angle",
		"keyframe-declaration-no-important": true,
		"keyframes-name-pattern": "[a-z][-a-z0-9]+",
		"length-zero-no-unit": [true, { "ignore": ["custom-properties"] }],
		"max-nesting-depth": 0,
		"media-feature-name-allowed-list": null,
		"media-feature-name-disallowed-list": null,
		"media-feature-name-no-unknown": true,
		"media-feature-name-no-vendor-prefix": true,
		"media-feature-name-value-allowed-list": null,
		"no-descending-specificity": null,
		"no-duplicate-at-import-rules": true,
		"no-duplicate-selectors": true,
		"no-empty-source": true,
		"no-invalid-double-slash-comments": true,
		"no-unknown-animations": true,
		"number-max-precision": 8,
		"property-allowed-list": null,
		"property-disallowed-list": null,
		"property-no-unknown": [true, { "checkPrefixed": true, "ignoreProperties": ["app-region", "accent-color"] }],
		"property-no-vendor-prefix": [true, { "ignoreProperties": ["box-orient", "mask-image", "appearance"] }],
		"rule-empty-line-before": ["always-multi-line", { "except": ["first-nested"] }],
		"selector-attribute-operator-allowed-list": null,
		"selector-attribute-operator-disallowed-list": null,
		"selector-attribute-quotes": "always",
		"selector-class-pattern": "[a-z][-a-z0-9]+",
		"selector-combinator-allowed-list": null,
		"selector-combinator-disallowed-list": null,
		"selector-id-pattern": "[a-z][-a-z0-9]+",
		"selector-max-attribute": 4,
		"selector-max-class": 8,
		"selector-max-combinators": 4,
		"selector-max-compound-selectors": 4,
		"selector-max-id": 2,
		"selector-max-pseudo-class": 4,
		"selector-max-specificity": "4,4,4",
		"selector-max-type": 4,
		"selector-max-universal": 2,
		"selector-nested-pattern": null,
		"selector-no-qualifying-type": null,
		"selector-no-vendor-prefix": true,
		"selector-pseudo-class-allowed-list": null,
		"selector-pseudo-class-disallowed-list": null,
		"selector-pseudo-class-no-unknown": true,
		"selector-pseudo-element-allowed-list": null,
		"selector-pseudo-element-colon-notation": "double",
		"selector-pseudo-element-disallowed-list": null,
		"selector-pseudo-element-no-unknown": true,
		"selector-type-case": "lower",
		"selector-type-no-unknown": [true, { "ignore": ["custom-elements"] }],
		"shorthand-property-no-redundant-values": true,
		"string-no-newline": true,
		"time-min-milliseconds": 120,
		"unit-allowed-list": null,
		"unit-disallowed-list": null,
		"unit-no-unknown": true,
		"value-keyword-case": "lower",
		"value-no-vendor-prefix": [true, { "ignoreValues": ["box", "grab", "no-grab"] }]
	}
}
