#pwa-toast {
	visibility: hidden;
	position: fixed;
	display: flex;
	gap: var(--padding-inline);
	align-items: center;
	justify-content: space-between;

	width: clamp(10rem, 100%, 35rem);
	inset-inline: 0;
	inset-block-end: var(--margin-block);
	margin-inline: auto;
	padding: var(--padding-block) var(--padding-inline);

	background-color: var(--bg-color);

	z-index: 1;
}

#pwa-toast:is([data-offline], [data-refresh]) {
	visibility: visible;
}

#pwa-toast div {
	flex-basis: min-content;
	flex-grow: 1;
}

#pwa-toast button {
	background-color: transparent;
	border: var(--border-width) solid var(--border-color);
	border-radius: 100vmax;
	display: none;
	place-items: center;
	padding: 0.25rem;
	color: var(--text-color);
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

#pwa-toast button:focus {
	background-color: var(--theme-color);
	color: var(--text-color);
	border-color: var(--text-color);
}

#pwa-toast button:hover {
	background-color: var(--dark-bg-color);
	color: var(--accent-color);
	border-color: var(--accent-color);
	outline-color: var(--accent-color);
}

#pwa-toast button:active {
	background-color: var(--accent-color);
	color: var(--text-color);
	border-color: var(--text-color);
	outline-color: var(--text-color);
}

#pwa-toast button svg {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#pwa-toast[data-offline] #pwa-close {
	display: grid;
}

#pwa-toast[data-refresh] #pwa-refresh {
	display: grid;
}
