.project-card {
	--image-size: 15rem;

	background-color: var(--bg-color);
	display: grid;
	grid-template-areas:
		'header header'
		'picture content'
		'picture links'
		'footer footer';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto auto;
	gap: var(--spacing-large);
	padding: var(--spacing-large);
	margin: var(--spacing-large);
}

.project-card:not(:has( picture)) {
	grid-template-areas:
		'header'
		'content'
		'links'
		'footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto auto;
}

.project-card *:has(> svg) {
	display: flex;
	align-items: center;
	gap: 0.3em;
	overflow-wrap: break-word;
	word-break: break-word;
}

.project-card .project-icon {
	grid-area: picture;
	max-width: 50vmin;
	place-self: start center;
}

.project-card header { grid-area: header; }
.project-card header h2 { margin: 0; }

.project-card header aside {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--spacing-large);
	margin-block-start: var(--spacing-small);
	font-size: 0.7rem;
}

.project-card .project-status {
	color: var(--dark-bg-color);
	padding: var(--spacing-small) var(--spacing-medium);
}

.project-card .project-status.finished {
	background-color: limegreen;
}

.project-card .project-status.ongoing {
	background-color: orange;
}

.project-card .project-content { grid-area: content; }
.project-card .project-content > *:first-child { margin-block-start: 0; }

.project-card .project-links { grid-area: links; }
.project-card .project-info { grid-area: footer; }

.project-card .technology-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 1rem 0;
}

.project-card .tag {
	display: inline-block;
	list-style: none;
	padding: var(--padding-small) var(--padding-inline);
	margin: var(--margin-small);
	font-size: 0.75rem;
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

@media (max-width: 850px) {
	.project-card {
		--image-size: 10rem;

		grid-template-areas:
			'header'
			'picture'
			'content'
			'links'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) auto auto auto;
	}

	.project-card .project-icon {
		place-self: center center;
	}
}
