:is(main, header, footer, aside, form, nav, section, article, h1, h2, h3, h4, h5, h6, img:not([alt]), svg:not(> title)) {
	--debug-outline-width: 0.1rem;
	outline: var(--debug-outline-width) var(--debug-style, solid) var(--debug-color, black);
	outline-offset: calc(var(--debug-outline-width) * -1);
	position: relative;

	&::after {
		background-color: var(--debug-color, black);
		color: var(--debug-text-color, white);
		content: var(--debug-content, 'MISSING CONTENT');
		font-size: 0.75rem;
		inset-block-start: 0;
		inset-inline-end: 0;
		padding: 0.1em;
		position: absolute;
	}
}

main {
	--debug-color: red;
	--debug-text-color: black;
	--debug-content: 'main';

	&[aria-label] { --debug-content: 'main: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'main: ' attr(aria-labelledby); }
}

header {
	--debug-color: forestgreen;
	--debug-text-color: black;
	--debug-content: 'header';

	&[aria-label] { --debug-content: 'header: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'header: ' attr(aria-labelledby); }
}

body > header {
	--debug-color: green;
	--debug-text-color: white;
	--debug-content: 'banner';

	&[aria-label] { --debug-content: 'banner: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'banner: ' attr(aria-labelledby); }
}

footer {
	--debug-color: goldenrod;
	--debug-text-color: black;
	--debug-content: 'footer';

	&[aria-label] { --debug-content: 'footer: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'footer: ' attr(aria-labelledby); }
}

body > footer {
	--debug-color: yellow;
	--debug-text-color: black;
	--debug-content: 'contentinfo';

	&[aria-label] { --debug-content: 'contentinfo: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'contentinfo: ' attr(aria-labelledby); }
}

aside {
	--debug-color: blue;
	--debug-text-color: white;
	--debug-content: 'complementary';

	&[aria-label] { --debug-content: 'complementary: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'complementary: ' attr(aria-labelledby); }
}

form {
	&:is([aria-label], [aria-labelledby]) {
		--debug-color: purple;
		--debug-text-color: white;
		--debug-content: 'form';
	}

	&[aria-label] { --debug-content: 'form: ' attr(aria-labelledby); }
	&[aria-labelledby] { --debug-content: 'form: ' attr(aria-labelledby); }

	&:not(:is([aria-label], [aria-labelledby])) {
		--debug-color: pink;
		--debug-text-color: black;
		--debug-content: 'form (missing aria-label or aria-labelledby)';
		--debug-outline-width: 0.5rem;
		--debug-style: dashed;
	}
}

nav {
	--debug-color: orange;
	--debug-text-color: black;
	--debug-content: 'navigation';

	&[aria-label] { --debug-content: 'navigation: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'navigation ' attr(aria-labelledby); }
}

section {
	--debug-color: deeppink;
	--debug-text-color: black;
	--debug-content: 'region';

	&[aria-label] { --debug-content: 'region: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'region: ' attr(aria-labelledby); }
	&[title] { --debug-content: 'region: ' attr(title); }
}

article {
	--debug-color: cyan;
	--debug-text-color: black;
	--debug-content: 'article';

	&[aria-label] { --debug-content: 'article: ' attr(aria-label); }
	&[aria-labelledby] { --debug-content: 'article: ' attr(aria-labelledby); }
	&[title] { --debug-content: 'article: ' attr(title); }
}

h1 {
	--debug-color: lime;
	--debug-text-color: black;
	--debug-content: 'h1';
}

h2 {
	--debug-color: lightblue;
	--debug-text-color: black;
	--debug-content: 'h2';
}

h3 {
	--debug-color: lightcoral;
	--debug-text-color: black;
	--debug-content: 'h3';
}

h4 {
	--debug-color: lightgreen;
	--debug-text-color: black;
	--debug-content: 'h4';
}

h5 {
	--debug-color: gold;
	--debug-text-color: black;
	--debug-content: 'h5';
}

h6 {
	--debug-color: lightsalmon;
	--debug-text-color: black;
	--debug-content: 'h6';
}

img:not([alt]) {
	--debug-color: darkred;
	--debug-text-color: white;
	--debug-content: 'img (missing alt)';
	--debug-outline-width: 0.5rem;
	--debug-style: dotted;
}

svg:not(> title) {
	--debug-color: darkblue;
	--debug-text-color: white;
	--debug-content: 'svg (missing aria-label, aria-labelledby, or title)';
	--debug-outline-width: 0.5rem;
	--debug-style: dotted;
}
