#blog-page-header {
	display: flex;
	align-items: center;
	gap: var(--spacing-large);
}

#blog-page-header h1 {
	overflow-wrap: break-word;
	word-break: break-word;
	line-break: loose;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;

	text-wrap: balance;

	padding: var(--spacing-large);
}

@media (max-width: 768px) {
	#blog-page-header { flex-direction: column; }
}
