main, #post-footer {
	width: 100%;
	max-width: var(--max-width);
	margin-inline: auto;
}

#post-contents {
	text-wrap: pretty;
	overflow-wrap: break-word;
	margin-inline: min(10vw,var(--min-width));
}

#post-contents h1:first-of-type {
	display: none;
}

#post-contents p > img:only-child {
	--image-size: 35vw;

	display: block;
	margin-inline: auto;
	width: clamp(var(--min-width), var(--image-size), var(--max-width));
	height: auto;
}

a[rel~="external"]::after {
	--external-icon-size: 0.65em;

	content: '';
	display: inline-block;
	background-image: var(--external-link-icon);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: var(--external-icon-size);
	height: var(--external-icon-size);

	vertical-align: super;
}

blockquote {
	border: var(--border-width) solid var(--border-color);
	border-inline-end-color: var(--theme-color);
	border-block-end-color: var(--theme-color);
	padding-inline: var(--spacing-medium);
	margin: var(--spacing-medium);

	font-style: italic;
}

blockquote > p {
	margin-block: 0;
	padding-block: var(--spacing-large);
}

hr {
	border: none;
	margin-inline: calc(var(--spacing-large) * 4);
	margin-block: calc(var(--spacing-large) * 2) var(--spacing-large);
	padding-inline-start: calc(var(--button-size) * 0.8);
	position: relative;
	overflow: visible;
}

hr::before {
	content: '';
	display: block;
	text-align: center;
	position: absolute;
	inset-inline-start: 0;
	color: var(--theme-color);
	inset-block-start: calc(var(--button-size) * -0.5);
	width: var(--button-size);
	height: var(--button-size);
	background-image: var(--hr-decoration-icon);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transform: scaleY(-1);
}

hr::after {
	content: '';
	display: block;
	border-top: var(--border-width) dashed var(--theme-color);
}

#post-footer {
	padding: var(--spacing-large);
	margin-block-end: var(--spacing-large);
}

#related-posts {
	margin-block: var(--spacing-large);
}

#related-posts #related-posts-wrapper {
	display: block;
	margin-inline: auto;
	max-width: var(--max-width);
	width: calc(100cqw - var(--spacing-large) * 4);
	overflow-x: auto;
}

#related-posts ul {
	justify-content: start;
	flex-wrap: nowrap;
	gap: var(--spacing-large);
	padding: 0;
	margin: 0;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

#related-posts li {
	scroll-margin: var(--spacing-large);
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

#post-license {
	font-size: smaller;
	background: var(--bg-color);
	padding: var(--spacing-large);
	margin-block-start: var(--spacing-large);
	text-align: center;
}

@media (max-width: 768px) {
	#post-header { flex-direction: column; }
	#post-header header { margin-inline-end: 0; }
	#post-header #back-to-blog { margin-block-start: var(--spacing-large); }

	#post-contents p > img:only-child { --image-size: 70vw; }
}
