main, #post-footer {
	width: 100%;
	max-width: var(--max-width);
	margin-inline: auto;
}

#post-contents {
	text-wrap: pretty;
	overflow-wrap: break-word;
	margin-inline: min(10vw,var(--min-width));
}

#post-contents h1:first-of-type {
	display: none;
}

#post-contents p > img:only-child {
	--image-size: 35vw;

	display: block;
	margin-inline: auto;
	width: clamp(var(--min-width), var(--image-size), var(--max-width));
	height: auto;
}

a[rel~="external"]::after {
	--external-icon-size: 0.65em;

	content: '';
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%230080ff' d='M18 10.82a1 1 0 0 0-1 1V19a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h7.18a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v11a3 3 0 0 0 3 3h11a3 3 0 0 0 3-3v-7.18a1 1 0 0 0-1-1m3.92-8.2a1 1 0 0 0-.54-.54A1 1 0 0 0 21 2h-6a1 1 0 0 0 0 2h3.59L8.29 14.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L20 5.41V9a1 1 0 0 0 2 0V3a1 1 0 0 0-.08-.38'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: var(--external-icon-size);
	height: var(--external-icon-size);

	vertical-align: super;
}

blockquote {
	border: var(--border-width) solid var(--border-color);
	border-inline-end-color: var(--theme-color);
	border-block-end-color: var(--theme-color);
	padding-inline: var(--spacing-medium);
	margin: var(--spacing-medium);

	font-style: italic;
}

blockquote > p {
	margin-block: 0;
	padding-block: var(--spacing-large);
}

hr {
	border: none;
	margin-inline: calc(var(--spacing-large) * 4);
	margin-block: calc(var(--spacing-large) * 2) var(--spacing-large);
	padding-inline-start: calc(var(--button-size) * 0.8);
	position: relative;
	overflow: visible;
}

hr::before {
	content: '';
	display: block;
	text-align: center;
	position: absolute;
	inset-inline-start: 0;
	color: var(--theme-color);
	inset-block-start: calc(var(--button-size) * -0.5);
	width: var(--button-size);
	height: var(--button-size);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%230080ff' d='M11.108 10.27c1.083-1.875.16-4.442-2.06-5.724a5.248 5.248 0 0 0-2.615-.72c-1.46 0-2.72.672-3.373 1.8c-.545.944-.608 2.077-.176 3.188C3.287 9.85 4.08 10.75 5.12 11.35a5.242 5.242 0 0 0 2.616.723c.673 0 1.3-.15 1.85-.414l2.4 1.385c1.582.914.56 3.86 5.918 6.955C23.26 23.094 29.4 21.535 29.4 21.535L10.75 10.767c.132-.156.255-.318.358-.496zm-1.733-1c-.506.88-2.033 1.056-3.255.348c-.646-.373-1.134-.916-1.37-1.528c-.21-.535-.194-1.055.042-1.464c.293-.51.892-.8 1.64-.8c.543 0 1.102.156 1.616.453c1.243.716 1.85 2.086 1.327 2.99zm7.87 6.522c0 .483-.39.875-.874.875c-.036 0-.067-.017-.103-.02l.667-1.512a.86.86 0 0 1 .312.657zm-.874-.875c.038 0 .07.017.105.02l-.666 1.51a.851.851 0 0 1-.313-.655c0-.483.39-.875.874-.875m13.03-4.45s-6.14-1.56-11.496 1.535c-.537.31-.995.618-1.415.924l4.325 2.497zm-16.23 6.63c-.35.85-.574 1.508-1.186 1.86l-2.4 1.385a4.235 4.235 0 0 0-1.85-.414c-.893 0-1.797.25-2.615.72c-2.22 1.283-3.144 3.852-2.06 5.727c.65 1.127 1.91 1.8 3.372 1.8c.894 0 1.8-.25 2.616-.72c1.04-.602 1.833-1.502 2.236-2.537c.432-1.112.368-2.245-.178-3.19a3.436 3.436 0 0 0-.356-.493l3.982-2.3a9.7 9.7 0 0 1-1.56-1.838zm-3.75 7.095c-.238.612-.725 1.155-1.37 1.528c-1.222.706-2.75.532-3.258-.347c-.522-.903.086-2.274 1.328-2.992a3.254 3.254 0 0 1 1.615-.452c.75 0 1.346.29 1.64.8c.237.41.253.93.045 1.464z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transform: scaleY(-1);
}

hr::after {
	content: '';
	display: block;
	border-top: var(--border-width) dashed var(--theme-color);
}

#post-footer {
	padding: var(--spacing-large);
	margin-block-end: var(--spacing-large);
}

#related-posts {
	margin-block: var(--spacing-large);
}

#related-posts #related-posts-wrapper {
	display: block;
	margin-inline: auto;
	max-width: var(--max-width);
	width: calc(100cqw - var(--spacing-large) * 4);
	overflow-x: auto;
}

#related-posts ul {
	justify-content: start;
	flex-wrap: nowrap;
	gap: var(--spacing-large);
	padding: 0;
	margin: 0;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

#related-posts li {
	scroll-margin: var(--spacing-large);
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

#post-license {
	font-size: smaller;
	background: var(--bg-color);
	padding: var(--spacing-large);
	margin-block-start: var(--spacing-large);
	text-align: center;
}

@media (max-width: 768px) {
	#post-header { flex-direction: column; }
	#post-header header { margin-inline-end: 0; }
	#post-header #back-to-blog { margin-block-start: var(--spacing-large); }

	#post-contents p > img:only-child { --image-size: 70vw; }
}
