#hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	z-index: -1;
}

#post-contents {
	max-width: 76rem;
	margin-inline: auto;
	padding-inline: min(10vw,8rem);
	overflow-x: hidden;
	font-family: var(--sans-serif-font-family);

	text-wrap: pretty;
	overflow-wrap: break-word;
}

#post-contents h1:first-of-type {
	display: none;
}

#post-contents p > img:only-child {
	display: block;
	margin-inline: auto;
	width: clamp(7rem, 35vw, 20rem);
	height: auto;
}

iframe {
	border: thin solid black;
	border-radius: 0.2rem;

	display: block;
	margin-inline: auto;
	min-width: 10rem;
	min-height: 5rem;
	width: clamp(10rem, 100%, 70rem);
	height: auto;
	aspect-ratio: 3 / 2;
}

footer aside {
	padding-inline: min(10vw,8rem);
	margin-block-end: 1rem;
}

#post-tags ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

#post-tags .tag {
	display: inline-block;
	list-style: none;
	padding: var(--padding-small) var(--padding-inline);
	border-radius: 100vmax;
	font-size: 0.75rem;
	border: solid thin var(--theme-color);
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

#post-tags .tag:hover {
	background-color: var(--theme-color);
	color: white;
}

@media (max-width: 768px) {
	#post-header {
		flex-direction: column;
	}

	#post-header header {
		margin-inline-end: 0;
	}

	#post-header #back-to-blog {
		margin-block-start: 1rem;
	}

	#post-contents p > img:only-child {
		width: clamp(7rem, 70vw, 20rem);
	}
}
