body {
	/* background-attachment: fixed; */
	background-image: linear-gradient(to bottom, var(--bg-color), var(--dark-bg-color));
	background-repeat: no-repeat;
}

#about {
	width: clamp(5rem, 80vw, 50rem);
	margin-inline: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
}

#about picture {
	width: clamp(5rem, 30vw, 20rem);
	height: clamp(5rem, 30vw, 20rem);
}

#about ul { padding: 0; }

#about li {
	margin: var(--spacing-medium);
	display: block;
}

#about li svg {
	width: 1rem;
	height: 1rem;
}

@media (max-width: 650px) {
	#about {
		flex-direction: column;
		align-items: center;
	}

	#about picture {
		width: clamp(5rem, 60vw, 20rem);
		height: clamp(5rem, 60vw, 20rem);
	}
}
