main {
	width: 100%;
	max-width: 76rem;
	margin-inline: auto;
	padding-block-end: 1rem;
}

#contents {
	margin-inline: min(10vw, 8rem);
}

@media (max-width: 768px) {
	#contents {
		margin-inline: 0;
	}
}
