main {
	width: 100%;
	max-width: var(--max-width);
	margin-inline: auto;
	padding-block-end: var(--spacing-large);
}

#contents {
	margin-inline: min(10vw,var(--min-width));
}

@media (max-width: 768px) {
	#contents {
		margin-inline: 0;
	}
}
