#tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-large);
	list-style: none;
	padding: 0;
	margin: 0;
	margin-block: var(--spacing-large);
}

#tag-list .tag {
	--tag-width: 0.7rem;
	--tag-height: 0.7rem;

	display: inline-block;
	list-style: none;
	position: relative;
	padding: var(--spacing-small) var(--spacing-medium);
	padding-inline-start: calc(var(--tag-width) + var(--spacing-medium));
	margin: var(--spacing-small);
	font-size: 1.3rem;
	color: var(--text-color);
	overflow: visible;
}

#tag-list .tag * {
	position: relative;
	color: inherit;
	outline: none;
	background-color: transparent;
}

#tag-list .tag::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--bg-color);
	clip-path: polygon(
		var(--tag-width) 0,
		100% 0,
		100% 100%,
		var(--tag-width) 100%,
		0 calc(50% + (var(--tag-height) * 0.5)),
		0 calc(50% - (var(--tag-height) * 0.5))
	);
	mask: radial-gradient(
		circle at calc(var(--tag-width) * 0.7) center,
		transparent 0,
		transparent calc((var(--tag-height) * 0.3)),
		black calc((var(--tag-height) * 0.3))
	);
}

#tag-list .tag:hover::before { background-color: var(--text-color); }

#tag-list .tag:focus-within {
	outline: var(--theme-color) solid var(--border-width);
	outline-offset: var(--spacing-small);
	color: var(--text-color);
}

#tag-list .tag:hover {
	color: var(--link-hover-color);
	outline-color: var(--link-hover-color);
}
