@layer pages {
	#tag-list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-large);
		list-style-type: '';
		margin: 0;
		margin-block: var(--spacing-large);
		padding: 0;
	}

	#tag-list .tag {
		--tag-width: var(--tag-size);
		--tag-height: var(--tag-size);
		--tag-hole-size: 0.3;
		color: var(--tag-color);
		display: inline-block;
		font-size: larger;
		list-style-type: '';
		margin: var(--spacing-small);
		overflow: visible;
		padding: var(--spacing-small) var(--spacing-medium);
		padding-inline-start: calc(var(--tag-width) + var(--spacing-medium));
		position: relative;
	}

	#tag-list .tag * {
		background-color: transparent;
		color: inherit;
		outline: none;
		position: relative;
	}

	#tag-list .tag::before {
		background-color: var(--tag-bg);
		clip-path: polygon(var(--tag-width) 0, 100% 0, 100% 100%, var(--tag-width) 100%, 0 calc(50% + var(--tag-height) * 0.5), 0 calc(50% - var(--tag-height) * 0.5));
		content: '';
		inset: 0;
		mask: radial-gradient(
			circle at calc(var(--tag-width) * (1 - var(--tag-hole-size))) center,
			transparent 0,
			transparent calc(var(--tag-height) * var(--tag-hole-size)),
			black calc(var(--tag-height) * var(--tag-hole-size))
		);
		position: absolute;
	}

	#tag-list .tag:hover::before { background-color: var(--text-color); }

	#tag-list .tag:focus-within {
		border-radius: var(--border-radius);
		color: var(--dark-bg-color);
		outline: var(--theme-color) var(--border-style) var(--border-width);
		outline-offset: var(--spacing-small);
	}

	#tag-list .tag:hover {
		color: var(--link-hover-color);
		outline-color: var(--link-hover-color);
	}
}
