main {
	padding-inline: min(10vw,8rem);
}

ul li {
	padding-block: var(--spacing-small);
}

#technology-tags {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-large);
	list-style: none;
	padding: 0;
	margin: var(--spacing-large) 0;
}

#technology-tags .tag {
	display: inline-block;
	list-style: none;
	padding: var(--padding-small) var(--padding-inline);
	margin: var(--margin-small);
	font-size: 0.75rem;
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

img {
	width: clamp(5rem, 100%, 50rem);
	height: clamp(5rem, 70vh, 50rem);
	object-fit: contain;
	display: block;
	margin-inline: auto;
}
