#post-header {
	text-align: center;
	padding-block-end: 2rem;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
	place-items: start center;
}

#post-header h1 {
	height: auto;
	font-size: clamp(2rem, 5vw, 4rem);
	font-weight: bold;

	overflow-wrap: break-word;
	word-break: break-word;
	line-break: loose;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;

	width: 100%;
	max-width: calc(90vw - 6rem);
	display: block;
	margin-inline: auto;

	text-wrap: balance;
	padding: 1rem;
}

#post-header header:has(#hero-image) {
	position: relative;
	z-index: 1;
	overflow: hidden;
	justify-self: stretch;
	display: grid;
	height: 60vh;
	place-items: end center;
}

#post-header header:has(#hero-image) > *:not(#hero-image) {
	position: relative;
	z-index: 2;
}

#post-header header:has(#hero-image)::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, transparent, var(--dark-bg-color), var(--dark-bg-color));
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--dark-bg-color), transparent 20%), var(--dark-bg-color));
	z-index: 0;
}

@media (max-width: 768px) {
	#post-header {
		grid-template-columns: auto;
		grid-template-rows: 1fr auto;
		padding: 0;
	}
}
