#post-header {
	text-align: center;
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: start;
}

#post-header h1 {
	height: auto;
	font-size: clamp(2rem, 5vw, 4rem);
	font-weight: bold;

	overflow-wrap: break-word;
	word-break: break-word;
	line-break: loose;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;

	width: 100%;
	max-width: 90vw;
	display: block;
	margin-inline: auto;

	text-wrap: balance;
}

#post-header header:has(#hero-image) {
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: initial;
}

#post-header header:has(#hero-image) > *:not(#hero-image) {
	position: relative;
	z-index: 2;
	text-align: center;
}

#post-header header:has(#hero-image) h1 {
	margin-block-start: 30vh;
}

#post-header header:has(#hero-image)::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, transparent, var(--dark-bg-color), var(--dark-bg-color));
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--dark-bg-color), transparent 20%), var(--dark-bg-color));
	z-index: 0;
}

@media (max-width: 768px) {
	#post-header {
		flex-direction: column;
	}

	#post-header header {
		margin-inline-end: 0;
	}
}
