#back-to-home {
	width: var(--avatar-small-size);
	height: var(--avatar-small-size);
	margin: var(--spacing-large);
}

#back-to-home :is(a, img) {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#back-to-home #link-mobile { display: none; }

@media (max-width: 768px) {
	#back-to-home { width: clamp(var(--min-width), 70vmin, var(--medium-width)); }
	#back-to-home #link-desktop { display: none; }
	#back-to-home #link-mobile { display: block; }
}
