#back-to-home {
	width: 6rem;
	height: 6rem;
	margin: 1rem;
}

#back-to-home :is(a, img) {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#back-to-home #link-mobile { display: none; }

@media (max-width: 768px) {
	#back-to-home { width: clamp(5rem, 70vmin, 30rem); }
	#back-to-home #link-desktop { display: none; }
	#back-to-home #link-mobile { display: block; }
}
