.post-card {
	--image-size: var(--avatar-size);

	display: grid;
	grid-template-areas:
		'header header'
		'picture content'
		'picture read-more'
		'footer footer';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto auto;
	gap: var(--spacing-large);

	margin: var(--spacing-large) 0;
	padding: var(--spacing-large);
	background-color: var(--bg-color);
	border: solid var(--highlight-border-color) var(--border-width);
}

.post-card:not(:has( picture)) {
	grid-template-areas:
		'header'
		'content'
		'read-more'
		'footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto auto;
}

.post-card header { grid-area: header; }
.post-card h2 { margin: 0; }
.post-card time { font-size: small; }

.post-card picture {
	grid-area: picture;
	place-self: center center;

	overflow: hidden;

	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
	object-position: center;

	display: block;
}

.post-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.post-card .post-card-content { grid-area: content; }
.post-card .read-more-link { grid-area: read-more; }
.post-card footer { grid-area: footer; }

@media (max-width: 500px) {
	.post-card {
		--image-size: var(--avatar-small-size);

		grid-template-areas:
			'header'
			'picture'
			'content'
			'read-more'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) 1fr auto;
	}
}
