main {
	text-align: center;
}

svg {
	width: 12rem;
	height: 12rem;
}

#logo {
	fill: currentcolor;
	image-rendering: pixelated;
	transform: scale(1.4);
	transform-origin: center;
}

#pixelated-logo {
	color: var(--bg-color);
	filter: url("#pixelate");
}

#glitch-logo {
	color: var(--accent-color);
	filter: url("#glitch");
}

#overlay-logo {
	color: var(--complementary-color);
	opacity: .6;
	mix-blend-mode: overlay;
}

#noise-logo {
	color: var(--theme-color);
	filter: url("#noise");
}

@media (prefers-reduced-motion: no-preference) {
	#glitch-logo { filter: url("#animated-glitch"); }
}
