.blog-page-header {
	text-align: center;
}

#blog-posts {
	width: clamp(15rem, 70vw, 60rem);
	margin-inline: auto;
	padding-block-end: 1rem;
}

.post-card header {
	margin-bottom: 0.5rem;
}

.post-card h2 {
	margin-bottom: 0.5rem;
}

.post-card time {
	font-size: small;
}

.post-card footer {
	margin-top: 0.5rem;
	font-size: small;
}

#post-header {
	text-align: center;
	padding-bottom: 1rem;
	display: flex;
}

#post-header header {
	margin-inline-end: 6rem;
	flex-grow: 1;
}

#post-header h1 {
	height: auto;
	font-size: clamp(2rem, 5vw, 4rem);
	font-weight: bold;

	overflow-wrap: break-word;
	word-break: break-word;
	line-break: loose;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;

	width: 100%;
	max-width: 90vw;
	display: block;
	margin-inline: auto;

	text-wrap: balance;
}

#back-to-blog img {
	height: 6rem;
	object-fit: contain;
}

#back-to-blog #link-big { display: inline-flex; }
#back-to-blog #link-small { display: none; }

#back-to-blog #link-big img { width: 6rem; }
#back-to-blog #link-small img { width: clamp(10rem, 70vmin, 30rem); }
.blog-page-header #back-to-blog #link-big img { width: clamp(10rem, 70vmin, 30rem); }

#post-header header:has(#hero-image) {
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: initial;
}

#post-header header:has(#hero-image) > *:not(#hero-image) {
	position: relative;
	z-index: 2;
	text-align: center;
}

#post-header header:has(#hero-image) h1 {
	margin-block-start: 30vh;
}

#post-header header:has(#hero-image)::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, transparent, var(--dark-bg-color), var(--dark-bg-color));
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	background: linear-gradient(to bottom, transparent, color-mix(in srgb, var(--dark-bg-color), transparent 20%), var(--dark-bg-color));
	z-index: 0;
}

#hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	z-index: -1;
}

#post-contents {
	max-width: 76rem;
	margin-inline: auto;
	padding-inline: min(10vw,8rem);
	margin-block-end: 2rem;
	overflow-x: hidden;
	font-family: var(--sans-serif-font-family);

	text-wrap: pretty;
}

#post-contents h1:first-of-type {
	display: none;
}

#post-contents p > img:only-child {
	display: block;
	margin-inline: auto;
	width: clamp(7rem, 25vw, 20rem);
	height: auto;
}

iframe {
	border: thin solid black;
	border-radius: 0.2rem;

	display: block;
	margin-inline: auto;
	min-width: 10rem;
	min-height: 5rem;
	width: clamp(10rem, 100%, 70rem);
	height: auto;
	aspect-ratio: 3 / 2;
}

#pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-block-start: 2rem;
	gap: 2rem;
}

#pagination ol {
	display: flex;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

#pagination:has(li:only-child) {
	display: none;
}

#post-tags .tag {
	display: inline-block;
	list-style: none;
	padding: var(--padding-small) var(--padding-inline);
	margin: var(--margin-small);
	border-radius: 100vmax;
	font-size: 0.75rem;
	border: solid thin var(--theme-color);
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

#post-tags .tag:hover {
	background-color: var(--theme-color);
	color: white;
}

@media (max-width: 768px) {
	#post-header {
		flex-direction: column;
	}

	#post-header header {
		margin-inline-end: 0;
	}

	#post-header #back-to-blog {
		margin-block-start: 1rem;
	}

	#back-to-blog { align-self: center; }
	#back-to-blog #link-big { display: none; }
	#back-to-blog #link-small { display: inline-flex; }
}
