code {
	--line-counter-width: 2em;
	--line-counter-margin-right: 1em;

	counter-reset: step;
	counter-increment: step 0;

	white-space: pre-wrap;
	overflow-wrap: break-word;
	word-break: break-word;
	tab-size: 2;
	font-family: 'Cascadia Code', Monaco, 'Courier New', Courier, monospace;
	font-size: smaller;
}

pre {
	background-color: var(--bg-color);
	padding: var(--spacing-medium) var(--spacing-small);
	border: solid var(--border-color) var(--border-width);
}

code .line::before {
	content: counter(step, decimal-leading-zero);
	counter-increment: step;
	margin-left: calc((var(--line-counter-width) + var(--line-counter-margin-right)) * -1);
	margin-right: var(--line-counter-margin-right);
	width: var(--line-counter-width);
	display: inline-block;
	text-align: right;
	color: var(--border-color);
}

code .line {
	display: inline-block;
	padding-left: calc(var(--line-counter-width) + var(--line-counter-margin-right));
}

@media screen and (prefers-color-scheme: dark) {
	pre {
		/* stylelint-disable-next-line declaration-no-important */
		color: var(--shiki-dark) !important;
		/* stylelint-disable-next-line declaration-no-important */
		background-color: var(--shiki-dark-bg) !important;
	}

	pre .line * {
		/* stylelint-disable-next-line declaration-no-important */
		color: var(--shiki-dark) !important;
	}
}
