code {
	--line-counter-width: 2em;
	--line-counter-margin-right: 1em;

	counter-reset: step;
	counter-increment: step 0;

	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
	tab-size: 2;
	font-family: 'Cascadia Code', Monaco, 'Courier New', Courier, monospace;
	font-size: smaller;
}

pre {
	background-color: var(--bg-color);
	padding: var(--spacing-medium) var(--spacing-small);
	border: solid var(--border-color) var(--border-width);
}

code .line::before {
	content: counter(step, decimal-leading-zero);
	counter-increment: step;
	margin-left: calc((var(--line-counter-width) + var(--line-counter-margin-right)) * -1);
	margin-right: var(--line-counter-margin-right);
	width: var(--line-counter-width);
	display: inline-block;
	text-align: right;
	color: var(--border-color);
}

code .line {
	display: inline-block;
	width: 100%;
	padding-left: calc(var(--line-counter-width) + var(--line-counter-margin-right));
}

code .line:empty {
	display: none;
}

code .line.diff.add {
	background-color: rgba(0, 100, 0, 0.3);
}

code .line.diff.remove {
	background-color: rgba(139, 0, 0, 0.3);
}

code .line.highlighted {
	background-color: rgba(255, 255, 0, 0.2);
	filter: contrast(0.5) brightness(1.2);
}

code .line.highlighted.error {
	background-color: rgba(255, 99, 71, 0.3);
}

code .line.highlighted.warning {
	background-color: rgba(255, 217, 0, 0.3);
}

code .line .highlighted-word {
	background-color: rgba(255, 255, 0, 0.2);
	filter: contrast(0.5) brightness(1.2);
	outline: 0.05rem solid rgba(255, 255, 0, 0.5);
}

pre.has-focused .line {
	filter: contrast(0.5) brightness(0.5);
	opacity: 0.7;
}

pre.has-focused .line.focused {
	filter: none;
	opacity: 1;
}

.line :is(.tab, .space)::before {
	opacity: 0.1;
}

.line .tab::before {
	content: '⇥\00A0\00A0';
}

.line .space::before {
	content: '·';
}

@media screen and (prefers-color-scheme: dark) {
	pre, pre span {
		/* stylelint-disable-next-line declaration-no-important */
		color: var(--shiki-dark) !important;
		/* stylelint-disable-next-line declaration-no-important */
		background-color: var(--shiki-dark-bg) !important;
		/* stylelint-disable-next-line declaration-no-important */
		font-style: var(--shiki-dark-font-style) !important;
		/* stylelint-disable-next-line declaration-no-important */
		font-weight: var(--shiki-dark-font-weight) !important;
		/* stylelint-disable-next-line declaration-no-important */
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

@media (prefers-contrast: more) {
	pre, pre span {
		/* stylelint-disable-next-line declaration-no-important */
		color: var(--shiki-contrast) !important;
		/* stylelint-disable-next-line declaration-no-important */
		background-color: var(--shiki-contrast-bg) !important;
		/* stylelint-disable-next-line declaration-no-important */
		font-style: var(--shiki-contrast-font-style) !important;
		/* stylelint-disable-next-line declaration-no-important */
		font-weight: var(--shiki-contrast-font-weight) !important;
		/* stylelint-disable-next-line declaration-no-important */
		text-decoration: var(--shiki-contrast-text-decoration) !important;
	}
}
