@media print {
	:root {
		--body-text: 12pt;
		--monospace-font-family: monospace;
		--sans-serif-font-family: sans-serif;
		/* Base colors */
		--text-color: black;
		--bg-color: white;
		--dark-bg-color: white;
		--border-color: black;
		--scrollbar-bg: transparent;
		/* Tag colors */
		--tag-bg: var(--secondary-color);
		--tag-color: var(--text-color);
		/* Link colors */
		--link-color: #065bd1;
		--link-visited-color: #4c2c92;
		--link-hover-color: var(--link-color);
		--link-active-color: var(--link-color);
		color-scheme: light;
	}

	@page {
		margin-block: 3rem;
		margin-inline: 1.5rem;
	}

	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }

	p, li, blockquote, figure, img, pre .line { page-break-inside: avoid; }

	a { text-decoration: underline; }

	a:not(:has(> :is(img, picture)))[href]::after {
		content: ' (' attr(href) ')';
		font-size: smaller;
	}

	a[rel~='external']::after {
		background: none;
		display: inline;
		font-size: smaller;
		vertical-align: baseline;
	}

	iframe { display: none; }

	#post-share { /* stylelint-disable-next-line declaration-no-important */ display: none !important; }

	#related-posts ul { flex-wrap: wrap; }

	#post-contents p > img:only-child { --image-size: 10rem; }
}
