@layer print {
	@media print {
		:root {
			--body-text: 12pt;
			--monospace-font-family: monospace;
			--sans-serif-font-family: sans-serif;
			/* Base colors */
			--text-color: black;
			--bg-color: white;
			--dark-bg-color: white;
			--border-color: black;
			--scrollbar-bg: transparent;
			/* Tag colors */
			--tag-bg: var(--secondary-color);
			--tag-color: var(--text-color);
			/* Link colors */
			--link-color: #065bd1;
			--link-visited-color: #4c2c92;
			--link-hover-color: var(--link-color);
			--link-active-color: var(--link-color);
			color-scheme: light;
		}

		@page {
			margin-block: 3rem;
			margin-inline: 1.5rem;
		}

		h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }

		p, li, blockquote, figure, img, pre .line { page-break-inside: avoid; }

		a { text-decoration: underline; }

		a:not(:has(> :is(img, picture)))[href]::after {
			content: '\00a0(' attr(href) ')';
			font-size: smaller;
		}

		a[rel~='external']::after {
			background: none;
			display: inline;
			vertical-align: baseline;
			width: fit-content;
		}

		iframe { display: none; }

		#post-share { display: none !important; }

		#site-nav { display: none !important; }

		#related-posts ul { flex-wrap: wrap; }

		#post-contents p > img:only-child { --image-size: 10rem; }
	}
}
