:root {
	/* Sizes */
	--body-text: 20px;
	--small-text: 0.8rem;

	/* Spacing */
	--spacing-large: 1rem;
	--spacing-medium: 0.5rem;
	--spacing-small: 0.2rem;

	/* Border */
	--border-width: 0.1rem;

	/* Padding */
	--padding-inline: 0.5rem;
	--padding-block: 0.3rem;
	--padding-small: 0.1rem;

	/* Margin */
	--margin-inline: 0.5rem;
	--margin-block: 0.3rem;
	--margin-small: 0.1rem;

	/* Theme colors */
	--theme-color: #0080ff;
	--secondary-color: lightblue;
	--accent-color: #ff8000;
	--complementary-color: orangered;

	/* Base colors */
	--text-color: black;
	--bg-color: silver;
	--dark-bg-color: whitesmoke;
	--border-color: dimgray;
	--scrollbar-bg: rgba(255, 255, 255, 0.1);

	/* Link colors */
	--link-color: #065bd1;
	--link-visited-color: #0080ff;
	--link-hover-color: #ff8100;
	--link-active-color: #cf4f00;

	color-scheme: dark light;
	accent-color: var(--theme-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Base colors */
		--text-color: whitesmoke;
		--bg-color: #3c3c3c;
		--dark-bg-color: #252525;
		--border-color: #505050;
		--scrollbar-bg: rgba(255, 255, 255, 0.1);

		/* Link colors */
		--link-color: #70b8ff;
		--link-visited-color: lightblue;
		--link-hover-color: var(--accent-color);
		--link-active-color: var(--complementary-color);

		color-scheme: dark;
	}
}
