#feed-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

#feed-title {
	flex-grow: 1;
}

#metadata {
	width: clamp(var(--min-width), 80vw, var(--max-width));
	margin-block: var(--spacing-large);
	margin-inline: auto;
}

main {
	width: clamp(var(--min-width), 80vw, var(--max-width));
	margin-inline: auto;
}

.item {
	--image-size: var(--avatar-size);

	display: grid;
	grid-template-areas:
		'header header'
		'picture content'
		'footer footer';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto;
	gap: var(--spacing-medium);

	margin: var(--spacing-large) 0;
}

.item:not(:has( img)) {
	grid-template-areas:
		'header header'
		'content content'
		'footer footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.item header { grid-area: header; }
.item h2 { margin: 0; }

.item .item-metadata {
	font-size: small;
	margin-block: var(--spacing-medium);
}

.item picture {
	grid-area: picture;
	place-self: center center;

	overflow: hidden;

	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
	object-position: center;

	display: block;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.item .item-content { grid-area: content; }
.item footer { grid-area: footer; }

.item footer ul {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-large);
	list-style: none;
	padding: 0;
	margin: var(--spacing-large) 0;
}

.item .tag {
	display: inline-block;
	list-style: none;
	padding: var(--spacing-small) var(--spacing-medium);
	margin: var(--spacing-small);
	font-size: var(--small-text);
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

.item .tag:hover {
	background-color: var(--theme-color);
	color: white;
}

@media (max-width: 500px) {
	.item {
		--image-size: var(--avatar-small-size);

		grid-template-areas:
			'header'
			'picture'
			'content'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) 1fr auto;
	}
}
