#feed-header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#feed-title { flex-grow: 1; }

#metadata {
	margin-block: var(--spacing-large);
	margin-inline: auto;
	width: clamp(var(--min-width), 80vw, var(--max-width));
}

main {
	margin-inline: auto;
	width: clamp(var(--min-width), 80vw, var(--max-width));
}

.item {
	--image-size: var(--avatar-size);
	display: grid;
	gap: var(--spacing-medium);
	grid-template-areas:
		'header header'
		'picture content'
		'footer footer';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto;
	margin: var(--spacing-large) 0;
}

.item:not(:has(img)) {
	grid-template-areas:
		'header header'
		'content content'
		'footer footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.item header { grid-area: header; }
.item h2 { margin: 0; }

.item .item-metadata {
	font-size: small;
	margin-block: var(--spacing-medium);
}

.item picture {
	display: block;
	grid-area: picture;
	height: var(--image-size);
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	place-self: center center;
	width: var(--image-size);
}

.item img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.item .item-content { grid-area: content; }
.item footer { grid-area: footer; }

.item footer ul {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-large);
	list-style: none;
	margin: var(--spacing-large) 0;
	padding: 0;
}

.item .tag {
	background-color: var(--secondary-color);
	color: #3c3c3c;
	display: inline-block;
	font-size: var(--small-text);
	list-style: none;
	margin: var(--spacing-small);
	padding: var(--spacing-small) var(--spacing-medium);
}

.item .tag:hover {
	background-color: var(--theme-color);
	color: white;
}

@media (max-width: 500px) {
	.item {
		--image-size: var(--avatar-small-size);
		grid-template-areas:
			'header'
			'picture'
			'content'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) 1fr auto;
	}
}
