#feed-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

#feed-title {
	flex-grow: 1;
}

#metadata {
	width: clamp(10rem, 80vw, 50rem);
	margin-block: 1rem;
	margin-inline: auto;
}

main {
	width: clamp(10rem, 80vw, 50rem);
	margin-inline: auto;
}

.item {
	--image-size: 10rem;

	display: grid;
	grid-template-areas:
		'header header'
		'picture content'
		'footer footer';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto;
	gap: var(--padding-inline);

	margin: 3rem 0;
}

.item:not(:has( img)) {
	grid-template-areas:
		'header header'
		'content content'
		'footer footer';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.item header { grid-area: header; }
.item h2 { margin: 0; }

.item .item-metadata {
	font-size: small;
	margin-block: 0.5rem;
}

.item picture {
	grid-area: picture;
	place-self: center center;

	border-radius: 1rem;
	border: solid thin var(--theme-color);
	overflow: hidden;

	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
	object-position: center;

	display: block;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.item .item-content { grid-area: content; }
.item footer { grid-area: footer; }

.item footer ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 1rem 0;
}

.item .tag {
	display: inline-block;
	list-style: none;
	padding: var(--padding-small) var(--padding-inline);
	margin: var(--margin-small);
	border-radius: 100vmax;
	font-size: 0.75rem;
	border: solid thin var(--theme-color);
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

.item .tag:hover {
	background-color: var(--theme-color);
	color: white;
}

@media (max-width: 500px) {
	.item {
		--image-size: 8rem;

		grid-template-areas:
			'header'
			'picture'
			'content'
			'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) 1fr auto;
	}
}
