---
import SiteNav from '../SiteNav/index.astro';

import './styles.css';
---
<SiteNav />
<header id="page-header">
	<div id="logo-wrapper">
		<slot name="logo"></slot>
	</div>
	<h1>
		<slot></slot>
	</h1>
</header>
