---
import { getEntry } from 'astro:content';

import Avatar from '../Avatar/index.astro';

import './styles.css';

interface Props {
	author: string;
	url?: string;
}

const { author, url } = Astro.props;

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const { data: { avatar, avatarAlt, name, website }, render } = (await getEntry('authors', author))!;
const { Content } = await render();
---
<div class="author-card" itemprop="author" itemscope itemtype="https://schema.org/Person">
	<a class="author-picture" href={url ?? website}>
		<Avatar image={avatar} imageAlt={avatarAlt} />
	</a>

	<a class="p-author h-card author-name" rel="author" itemprop="url" href={url}>
		<h2 itemprop="name">{name}</h2>
	</a>

	<div class="author-bio">
		<small>
			<Content />
		</small>
	</div>
</div>
