---
import MissingPageLayout from '../layouts/404.astro';
---
<MissingPageLayout title='404 - Not Found'>
	<p>Looks like you hit a dead end...</p>
	<p>
		<a href='/'>Go back to home</a>
	</p>
</MissingPageLayout>
