---
import { Image } from 'astro:assets';

import Logo from '../components/Logo/index.astro';
import { GLOBALS } from '../constants';
import InternalPageLayout from '../layouts/InternalPage.astro';

import picture from '../assets/images/me-old-avatar.jpg';
---

<InternalPageLayout
	htmlTitle={['About me', ...GLOBALS.title]}
	title="About me"
	description="More about myself."
	url="/about/"
	tags={['about', 'me', 'personal', ...GLOBALS.tags]}
>
	<Logo
		style="full"
		title="Marco Campos' Logo - About"
		subtitle="About"
		shortSubtitle="Me"
		url="/about/"
		slot="logo"
	/>
	<Fragment slot="header">About me</Fragment>

	<p>Hey! Name is <strong>Marco</strong>, best known online by the moniker &ldquo;<em>madcampos</em>&rdquo;.</p>
	<p>I work as a programmer and like to build things, be it digitally with websites or physically with Legos, crochet, or cardboard.</p>
	<p>I like challanges and interesting stuff to just create and have fun. To me some of the best ideas come from moments when we say <q>what if we did this...</q> or <q>wouldn't it be interesting to do that...?</q></p>
	<p>Ah, yes, I do enjoy geeking about web standards as well, like reading proposals and talking about them. <em>don't</em> say the magic words <q>web components</q> near me or I'll talk non stop for hours.</p>
	<p>Lastly, here is a picture of me:</p>

	<figure>
		<Image
			src={picture}
			alt="A close shot of myself. A white man with short black hair, wearing thick framed glases and a dark green shirt. I'm making a face with my brows frowned and my tongue sticking out to the side."
			width={512}
			height={512}
		/>
		<figcaption>Me making a face</figcaption>
	</figure>
</InternalPageLayout>
