---
import Logo from '../components/Logo/index.astro';
import { GLOBALS } from '../constants';
import InternalPageLayout from '../layouts/InternalPage.astro';
---

<InternalPageLayout
	htmlTitle={['AI Use Statement', ...GLOBALS.title]}
	title="AI Use Statement"
	description="AI Use Statement for Marco Campos website."
	url="/ai/"
	tags={['ai', 'robots', ...GLOBALS.tags]}
>
	<Logo
		style="full"
		title="Marco Campos' Logo - AI Use"
		subtitle="AI Use"
		shortSubtitle="AI"
		url="/ai/"
		slot="logo"
	/>
	<Fragment slot="header">AI Use Statement</Fragment>

	<p>I do use AI tools to generate some of the content published on this website. Below are places and situations where AI is used, and those where it is not.</p>

	<h2>AI <em>is</em> used</h2>

	<ul>
		<li>Hero images for posts</li>
		<li>Internal images on some posts</li>
		<li>Audio/song version of the website license</li>
	</ul>

	<h2>AI <em>is not</em> used</h2>

	<ul>
		<li>Generating or writing code for the website</li>
		<li>Writing content for the website</li>
		<li>Designs for the website</li>
	</ul>

	<h2>Is your art stolen?</h2>

	<p>If you feel like your art have been stolen or scraped by AI, first I'm sorry.</p>
	<p>Although I cannot remove your art from the datasets used to train these AI models, I <em>can</em> remove the results from my website.</p>
	<p>If you would like me to do so, please contact me at <em><a href="mailto:me@madcampos.dev">me@madcampos.dev</a></em>.</p>
	<p>If you have the technical knowledge, feel free to open an issue <a href="https://github.com/madcampos/madcampos.github.io/issues/new">on GitHub</a>.</p>
</InternalPageLayout>
