---
import Logo from '../components/Logo/index.astro';
import { GLOBALS } from '../constants';
import InternalPageLayout from '../layouts/InternalPage.astro';

---

<InternalPageLayout
	htmlTitle={['Food order', ...GLOBALS.title]}
	title="Food order"
	description="What food to order at different places."
	url="/food/"
	tags={['food', 'order', ...GLOBALS.tags]}
>
	<Logo
		style="full"
		title="Marco Campos' Logo - Food Order"
		subtitle="Food Order"
		shortSubtitle="Food"
		url="/food/"
		slot="logo"
	/>
	<Fragment slot="header">Food Order</Fragment>

	<details>
		<summary>Tim Hortons</summary>

		<strong>Coffee</strong>
		<ul>
			<li>Medium French Vanilla</li>
		</ul>

		<strong>Savory food</strong>
		<ul>
			<li>Herb and garlic pastry</li>
			<li>Caramelized onion pastry</li>
		</ul>

		<strong>Sweets</strong>
		<ul>
			<li>Boston cream doughnut</li>
			<li>Wild blueberry muffin</li>
		</ul>
	</details>

	<details>
		<summary>Subway</summary>

		<ol>
			<li>Any bread, 5 inches</li>
			<li>Cheddar cheese</li>
			<li>Lettuce, onions, olives, green bell peppers</li>
			<li>Honey mustard sauce</li>
		</ol>
	</details>

	<details>
		<summary>A&W</summary>

		<p>Beyond meet combo with onino rings and root beer.</p>
	</details>

	<details>
		<summary>Ice Cream flavors</summary>

		<ol>
			<li>Mint chocolate chips</li>
			<li>Cookies and cream</li>
			<li>Salty caramel</li>
			<li>Chocolate</li>
		</ol>
	</details>

	<details>
		<summary>Pizza flavors</summary>

		<p>Any vegetarian pizza will do, but preffered toppings are:</p>

		<ul>
			<li>Olives</li>
			<li>Bell peppers</li>
			<li>Mushrooms</li>
			<li>Sun dried tomatoes</li>
			<li>Onions</li>
		</ul>
	</details>
</InternalPageLayout>
