---
import Logo from '../components/Logo/index.astro';
import { GLOBALS } from '../constants.js';
import InternalPageLayout from '../layouts/InternalPage.astro';
---

<InternalPageLayout
	htmlTitle={['Now', ...GLOBALS.title]}
	title="What I'm doing now"
	description="What I'm doing now, my current focus and priorities."
	url="/now/"
	tags={['now', ...GLOBALS.tags]}
>
	<Logo
		size="full"
		subtitle="Now"
		shortSubtitle="Now"
		url="/now/"
		urlTitle="Now Page"
		slot="logo"
	/>
	<Fragment slot="header">What I'm doing now?</Fragment>

	<p>Here’s what I’m currently focused on, in no particular order:</p>

	<ul>
		<li>Helping on the toronto JS community (Take a look at the <a href="https://github.com/torontojs/proposals">proposals repo</a>).</li>
		<li>Working on this site to make it more "<a href="https://indieweb.org/">IndieWeb</a>-ed".</li>
		<li>Saving to buy a new computer.</li>
	</ul>
</InternalPageLayout>
