---
import { Picture } from 'astro:assets';

import './styles.css';

interface Props {
	url: string,
	image?: ImageMetadata,
	imageAlt?: string
}

const { url, image, imageAlt } = Astro.props;

// eslint-disable-next-line @typescript-eslint/no-magic-numbers
const IMAGE_WIDTHS = [64, 128, 256, 512];
---
<article class="post-card">
	{image && (
		<Picture
			src={image}
			alt={imageAlt ?? ''}
			widths={IMAGE_WIDTHS}
			sizes="(max-width: 360px) 64px, (max-width: 720px) 128px, (max-width: 1280px) 256px, 512px"
			quality="high"
		/>
	)}

	<header>
		<h3><a href={url}><slot name="title"></slot></a></h3>
	</header>

	<div class="post-card-content">
		<slot></slot>
	</div>
</article>
