.post-card {
	--image-size: var(--avatar-small-size);

	display: grid;
	grid-template-areas:
		'picture header'
		'picture content';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr;
	gap: var(--spacing-medium);

	margin: var(--spacing-large) 0;
	padding: var(--spacing-medium);
	background: var(--bg-color);
	width: clamp(var(--min-width), 35cqw, var(--medium-width));
	height: calc(100% - (var(--spacing-large) * 3));
	border: solid var(--highlight-border-color) var(--border-width);
}

.post-card:not(:has( picture)) {
	grid-template-areas:
		'header'
		'content';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.post-card header { grid-area: header; }

.post-card h3 {
	margin: 0;
	font-size: 1em;
}

.post-card picture {
	grid-area: picture;

	overflow: hidden;

	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
	object-position: center;

	display: block;
}

.post-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.post-card .post-card-content {
	grid-area: content;
	font-size: var(--small-text);
}

@media (max-width: 600px) {
	.post-card { --image-size: var(--avatar-mini-size); }
}
