---
interface Props {
	url: string,
	createdAt: string | Date
}

const { url, createdAt } = Astro.props;
const postUrl = new URL(url.replace(/^\//iu, ''), Astro.site).toString();
const { format: formatDate } = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<article class="post-card">
	<header>
		<a href={postUrl}><h2><slot name="title"></slot></h2></a>
		<a href={postUrl}><span><time datetime={new Date(createdAt).toISOString()}>{formatDate(new Date(createdAt))}</time></span></a>
	</header>
	<slot></slot>
	<footer>
		<a href={postUrl}>Read more...</a>
	</footer>
</article>
