.blog-page-header {
	text-align: center;
}

#blog-posts {
	width: clamp(15rem, 70vw, 60rem);
	margin-inline: auto;
}

.post-card header {
	margin-bottom: 0.5rem;
}

.post-card h2 {
	margin-bottom: 0.5rem;
}

.post-card span {
	font-size: small;
}

.post-card footer {
	margin-top: 0.5rem;
	font-size: small;
}

#post-header {
	text-align: center;
	padding-bottom: 1rem;
	font-family: 'Cascadia Code', Monaco, 'Courier New', Courier, monospace;
	display: flex;
}

#post-header header {
	margin-inline-end: 6rem;
	flex-grow: 1;
}

#post-header h1 {
	height: auto;
	font-size: 4rem;
	font-family: 'Cascadia Code', Monaco, 'Courier New', Courier, monospace;
}

#back-to-blog {
	align-self: center;
}

#back-to-blog img {
	height: 6rem;
	object-fit: contain;
}

#back-to-blog #link-big { display: inline-flex; }
#back-to-blog #link-small { display: none; }

#back-to-blog #link-big img { width: 6rem; }
#back-to-blog #link-small img { width: clamp(10rem, 70vmin, 30rem); }
.blog-page-header #back-to-blog #link-big img { width: clamp(10rem, 70vmin, 30rem); }

#post-contents {
	max-width: 76rem;
	margin-inline: auto;
	padding-inline: min(10vw,8rem);
	margin-block-end: 2rem;
	overflow-x: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#post-contents h1:first-of-type {
	display: none;
}

@media (max-width: 768px) {
	#post-header {
		flex-direction: column;
	}

	#post-header header {
		margin-inline-end: 0;
	}

	#post-header #back-to-blog {
		margin-block-start: 1rem;
	}

	#back-to-blog #link-big { display: none; }
	#back-to-blog #link-small { display: inline-flex; }
}
