.blog-page-header {
	text-align: center;
}

#blog-posts {
	width: clamp(15rem, 70vw, 60rem);
	margin-inline: auto;
}

.post-card header {
	margin-bottom: 0.5rem;
}

.post-card h2 {
	margin-bottom: 0.5rem;
}

.post-card span {
	font-size: small;
}

.post-card footer {
	margin-top: 0.5rem;
	font-size: small;
}

#post-header {
	text-align: center;
	padding-bottom: 1rem;
	display: flex;
}

#post-header header {
	margin-inline-end: 6rem;
	flex-grow: 1;
}

#post-header h1 {
	height: auto;
	font-size: clamp(2rem, 5vw, 4rem);
	font-weight: bold;

	overflow-wrap: break-word;
	word-break: break-word;
	line-break: loose;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;

	max-width: 90vw;
	display: inline-block;

	text-wrap: balance;
}

#back-to-blog {
	align-self: center;
}

#back-to-blog img {
	height: 6rem;
	object-fit: contain;
}

#back-to-blog #link-big { display: inline-flex; }
#back-to-blog #link-small { display: none; }

#back-to-blog #link-big img { width: 6rem; }
#back-to-blog #link-small img { width: clamp(10rem, 70vmin, 30rem); }
.blog-page-header #back-to-blog #link-big img { width: clamp(10rem, 70vmin, 30rem); }

#hero-image {
	display: none;
}

#post-contents {
	max-width: 76rem;
	margin-inline: auto;
	padding-inline: min(10vw,8rem);
	margin-block-end: 2rem;
	overflow-x: hidden;
	font-family: var(--sans-serif-font-family);
}

#post-contents h1:first-of-type {
	display: none;
}

#post-contents p > img:only-child {
	display: block;
	margin-inline: auto;
	width: clamp(7rem, 25vw, 20rem);
}

iframe {
	border: thin solid black;
	border-radius: 0.2rem;

	display: block;
	margin-inline: auto;
	min-width: 10rem;
	min-height: 5rem;
	width: clamp(10rem, 100%, 70rem);
	height: auto;
	aspect-ratio: 3 / 2;
}

@media (max-width: 768px) {
	#post-header {
		flex-direction: column;
	}

	#post-header header {
		margin-inline-end: 0;
	}

	#post-header #back-to-blog {
		margin-block-start: 1rem;
	}

	#back-to-blog #link-big { display: none; }
	#back-to-blog #link-small { display: inline-flex; }
}
