code {
	counter-reset: step;
	counter-increment: step 0;

	white-space: pre-wrap;
	font-family: 'Cascadia Code', Monaco, 'Courier New', Courier, monospace;
	font-size: smaller;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-left: -2rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115,138,148,.4)
}

code .line {
	display: inline-block;
	padding-left: 3rem;
}
