body > header {
	text-align: center;
	padding-bottom: 1rem;
	display: flex;
	gap: 1rem;
}

body > header h1 {
	flex-grow: 1;
	height: auto;
	font-size: clamp(2rem, 5vw, 4rem);
	font-weight: bold;

	overflow-wrap: break-word;
	word-break: break-word;
	line-break: loose;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-hyphens: auto;
	hyphens: auto;
	hyphenate-character: '-';
	hyphenate-limit-chars: 8 3 2;
	text-wrap: balance;
}

#back-to-home {
	align-self: center;
}

#back-to-home img {
	height: 6rem;
	width: 6rem;
	object-fit: contain;
}

#back-to-home #link-big { display: inline-flex; }
#back-to-home #link-small { display: none; }

#back-to-home #link-small img { width: clamp(10rem, 70vmin, 30rem); }

main {
	padding-inline: 1rem;
	padding-block-end: 1rem;
}

.project:not(:first-of-type) { margin-block-start: 4rem; }

.project header h2 { color: var(--theme-color); }

.project footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: start;
}

.project footer details { width: 100%; }

.project footer a {
	display: inline-block;
	padding: 0.25rem 0.5rem;
}

.project .project-image {
	--image-size: clamp(10rem, 30vw, 25rem);

	border-radius: 1rem;
	border: solid thin var(--theme-color);
	overflow: hidden;

	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
	object-position: center;

	display: block;

	float: left;
	margin: 1rem;
}

.project .project-content::after {
	content: '';
	display: block;
	clear: both;
}

.project .project-info > summary {
	font-size: larger;
	font-weight: bold;
}

.project .technology-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: start;
}

.project .tag {
	display: inline-block;
	list-style: none;
	padding: 0.25rem 0.5rem;
	border-radius: 100vmax;
	font-size: 0.75rem;
	border: solid thin var(--theme-color);
	background-color: var(--secondary-color);
	color: #3c3c3c;
}

.project .tag:hover {
	background-color: var(--theme-color);
	color: white;
}

.project .tag.status-finished {
	background-color: limegreen;
	color: white;
	border-color: darkgreen;
}

.project .tag.status-ongoing {
	background-color: orange;
	color: black;
	border-color: sienna;
}

@media (max-width: 500px) {
	body > header { flex-direction: column; }

	#back-to-home #link-big { display: none; }
	#back-to-home #link-small { display: inline-flex; }

	.project .project-image {
		float: none;
		margin-inline: auto;
	}
}
