.talk-card {
	--image-size: var(--avatar-size);

	background-color: var(--bg-color);
	display: grid;
	grid-template-areas:
		'header header'
		'picture content'
		'picture links';
	grid-template-columns: var(--image-size) 1fr;
	grid-template-rows: auto 1fr auto;
	gap: var(--spacing-large);
	padding: var(--spacing-large);
	margin: var(--spacing-large);
	border: solid var(--highlight-border-color) var(--border-width);
}

.talk-card:not(:has( picture)) {
	grid-template-areas:
		'header'
		'content'
		'links';
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}


.talk-card header { grid-area: header; }

.talk-card header h2 {
	margin: 0;
	margin-block-end: var(--spacing-medium);
}

.talk-card header aside small {
	display: flex;
}


.talk-card picture {
	grid-area: picture;
	place-self: center center;

	overflow: hidden;

	width: var(--image-size);
	height: var(--image-size);
	object-fit: cover;
	object-position: center;

	display: block;
}

.talk-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.talk-card .talk-content { grid-area: content; }
.talk-card .talk-content > *:first-child { margin-block-start: 0; }

.talk-card .talk-links { grid-area: links; }

@media (max-width: 850px) {
	.talk-card {
		--image-size: var(--avatar-small-size);

		grid-template-areas:
			'header'
			'picture'
			'content'
			'links';
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--image-size) auto auto;
	}

	.talk-card picture {
		align-self: center center;
	}
}
