---
import { Icon } from 'astro-icon/components';
import { BLOG, GLOBALS, PROJECTS, TALKS } from '../../constants.js';
import { join } from '../../utils/path.js';
import ThemeSwitcher from '../ThemeSwitcher/index.astro';

import './styles.css';
---
<nav id="site-nav" aria-label="Primary navigation">
	<ul>
		<li>
			<a href={GLOBALS.url}>
				<Icon name="uil:home-alt" title="" />
				Home
			</a>
		</li>
		<li>
			<a href={BLOG.url}>
				<Icon name="uil:file-edit-alt" title="" />
				Blog
			</a>
		</li>
		<li>
			<a href={PROJECTS.url}>
				<Icon name="uil:flask" title="" />
				Projects
			</a>
		</li>
		<li>
			<a href={TALKS.url}>
				<Icon name="uil:presentation-check" title="" />
				Talks
			</a>
		</li>
		<li>
			<a href={join([GLOBALS.url, 'accessibility'])}>
				<Icon name="uil:accessible-icon-alt" title="" />
				Accessibility
			</a>
		</li>
		<li>
			<a href={join([GLOBALS.url, 'license'])}>
				<Icon name="uil:award-alt" title="" />
				License
			</a>
		</li>
		<li>
			<ThemeSwitcher />
		</li>
	</ul>
</nav>
