#site-nav {
	background-color: var(--bg-color);
	border-block-end: solid var(--highlight-border-color) var(--border-width);
	display: flex;
	margin-inline: auto;
	max-width: var(--max-width);
	width: 100%;
}
