#site-nav {
	display: flex;
	background-color: var(--bg-color);
	border-block-end: solid var(--highlight-border-color) var(--border-width);
	width: 100%;
	max-width: var(--max-width);
	margin-inline: auto;
}
