@layer components {
	#site-nav {
		background-color: var(--bg-color);
		border-block-end: var(--border-style) var(--highlight-border-color) var(--border-width);
		border-end-end-radius: var(--border-radius);
		border-end-start-radius: var(--border-radius);
		display: flex;
		margin-inline: auto;
		max-width: var(--max-width);
		width: 100%;
	}

	#site-nav ul {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-large);
		justify-content: center;
		list-style-type: '';
		margin: var(--spacing-large) auto;
		padding: 0 var(--spacing-large);
		width: 100%;
	}
}
