#back-to-blog {
	width: 6rem;
	height: 6rem;
	margin: 1rem;
}

#back-to-blog :is(a, img) {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#back-to-blog #link-mobile { display: none; }

@media (max-width: 768px) {
	#back-to-blog { width: clamp(10rem, 70vmin, 30rem); }
	#back-to-blog #link-desktop { display: none; }
	#back-to-blog #link-mobile { display: block; }
}
