#back-to-blog {
	width: var(--avatar-size);
	height: auto;
	aspect-ratio: 1 / 1;
	margin: var(--spacing-large);
}

#back-to-blog :is(a, img) {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#back-to-blog #link-mobile { display: none; }

@media (max-width: 768px) {
	#back-to-blog { width: var(--avatar-small-size); }
}

@media (max-width: 650px) {
	#back-to-blog {
		width: 100%;
		aspect-ratio: 4 / 2;
	}

	#back-to-blog #link-desktop { display: none; }
	#back-to-blog #link-mobile { display: block; }
}
